<div class="edit location">
  <h1><a routerLink="/editor/{{location.alias}}">{{location.alias}}</a></h1>
  <input [(ngModel)]="location.label" type="text"/>
  <button (click)="AddDialogTree()">Add Dialog Tree</button>
  <div class="edit conversation" *ngFor="let conversation of conversations">
    <h2>Dialog Tree</h2>
    <input [(ngModel)]="conversation.id" type="text"/>
    <input [(ngModel)]="conversation.character" type="text"/>
    <input [(ngModel)]="conversation.location" type="text"/>
    <div class="triggers">
      <h3>Triggers</h3>
      <button (click)="AddTrigger(conversation)">Add Trigger</button>
      <div *ngIf="conversation.triggers">
        <input *ngFor="let trigger of conversation.triggers; let i = index" [(ngModel)]="conversation.triggers[i]"/>
      </div>
    </div>
    <flux-edit-dialog [dialog]="conversation.dialog"></flux-edit-dialog>
  </div>
</div>
