<div class="edit location">
  <button (click)="SaveData()" style="float:right;">Save</button>
  <a routerLink="/editor">Home</a>
  <h1>Location</h1>
  <label>Alias: </label><input [(ngModel)]="location.alias" type="text"/>
  <br/>
  <label>Label: </label><input [(ngModel)]="location.label" type="text"/>
  <br/>
  <br/>
  <h2>Adjacent Locations</h2>
  <select [(ngModel)]="newAdjacentLocation">
    <option *ngFor="let locationAlias of locationAliases" value={{locationAlias}}>
      {{locationAlias}}
    </option>
  </select>
  <button (click)="AddAdjacentLocation()">Add Adjacent Location</button>
  <ul>
    <li *ngFor="let adjacent of location.adjacentLocations">
      {{adjacent}} <button (click)="RemoveAdjacentLocation()">Delete</button>
    </li>
  </ul>
  <br/>
  <br/>
  {{this.location.alias}}_
  <select [(ngModel)]="newCharacter">
    <option *ngFor="let character of characters" value= {{character.alias}}>
        {{character.label}}
    </option>
  </select>_
  <input type="text" [(ngModel)]="newLabel" placeholder="label"/>&nbsp;&nbsp;
  {{this.location.alias+'_'+(this.newCharacter || 'n')+'_'+(this.newLabel || '')}} -> <button (click)="AddDialogTree()">Add Dialog Tree</button>
  <br/>
  <br/>
  <div *ngFor="let conversation of conversations">
    <a routerLink="/editor/conversation/{{conversation.id}}">{{conversation.id}}</a> [{{GetConversationActions(conversation)}}]
  </div>
</div>
