<div class="edit location">
  <h1><a routerLink="/editor/location/{{location.alias}}">{{location.alias}}</a></h1>
  <label>Label: </label><input [(ngModel)]="location.label" type="text"/>
  <br/>
  <br/>
  <input type="text" [(ngModel)]="newCharacter" placeholder="character"/><input type="text" [(ngModel)]="newLabel" placeholder="label"/>
  <br/>
  {{this.location.alias+'_'+(this.newCharacter || 'n')+'_'+(this.newLabel || '')}} -> <button (click)="AddDialogTree()">Add Dialog Tree</button>
  <br/>
  <br/>
  <div *ngFor="let conversation of conversations">
    <a routerLink="/editor/conversation/{{conversation.id}}">{{conversation.id}}</a> [{{GetConversationActions(conversation)}}]
  </div>
</div>
