<div class="flux-interface container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.5%"  fxLayoutAlign="center">
    <mat-card  *ngIf="currentScene.location; else noData">
        <mat-card-title class="location label">
            {{currentScene.location.label}}
        </mat-card-title>
        <mat-card-content class="stage">
            <flux-dialog [conversations]="currentScene.conversations" (conversationExit)="EndConversation($event)" (onAction)="HandleAction($event)"></flux-dialog>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary"
                *ngFor="let alias of currentScene.location.adjacentLocations"
                (click)="LoadScene(alias)"
            >{{alias}}</button>
        </mat-card-actions>
    </mat-card>
    
    <ng-template #noData>
        <h1>No story for you!</h1>
        <h2>Just kidding, it should download in a few seconds. <br/>Hop over to the editor to download manually.</h2>
    </ng-template>
</div>