<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="100%">
        <button mat-flat-button (click)="SaveData()" [disabled]="!allowSave">Save</button>
        <button mat-flat-button color="primary" (click)="LoadData()">Load</button>
        <button mat-flat-button (click)="SaveDataLocal()">Save Local</button>
        <app-flux-auth></app-flux-auth>
    </div>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="50%">
        <h1>Locations</h1>
        <button mat-flat-button color="primary" (click)="AddLocation()">Add Location</button>
        <mat-list>
            <mat-list-item *ngFor="let location of locations">
                <a mat-stroked-button color="accent" routerLink="/editor/location/{{location.alias}}">{{location.alias}}</a>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="50%">
        <h1>Characters</h1>
        <button mat-flat-button color="primary" (click)="AddCharacter()">Add Character</button>
        <mat-list>
            <mat-list-item *ngFor="let character of characters">
                <mat-form-field><input matInput (change)="UpdateDataLocal($event)" [(ngModel)]="character.alias" type="text" placeholder="alias"/></mat-form-field>
                <mat-form-field><input matInput (change)="UpdateDataLocal($event)" [(ngModel)]="character.label" type="text" placeholder="label"/></mat-form-field>
            </mat-list-item>
        </mat-list>
    </div>
</div>