<div class="dialog-component">
  <div class="character-list">
    <button mat-flat-button color="accent"
        *ngFor="let character of availableCharacters"
        (click)="SetActiveCharacter(character.alias)"
    >
      <mat-icon *ngIf="!character.inanimate && character.alias==='narrator'">notes</mat-icon>  
      <mat-icon *ngIf="!character.inanimate && character.alias!=='narrator'">person</mat-icon>
      <mat-icon *ngIf="character.inanimate">search</mat-icon>
      &nbsp;{{character.label}}
    </button>
  </div>
  
  <div class="dialog-content" *ngIf="activeDialog.hasOwnProperty('content')">
    <p>
      {{activeDialog.content}}
    </p>
    <div class="dialog-actions">
      <button mat-flat-button
        *ngFor="let child of activeDialog.children"
        (click)="SetDialogNode(child)"
      >{{child.label}}</button>
      <button mat-flat-button
        *ngIf="selectedCharacter !== 'narrator' && !activeDialog.children"
        (click)="ReloadDialog(activeDialog.actions)">Exit</button>
    </div>
  </div>
</div>