/* .dialog-component{
    margin: 20px;
    padding: 20px;
    border: solid 1px #ccc;
} */

.dialog-content .mat-flat-button{ 
    margin-right: 8px;
}

.dialog-copy{
    margin-bottom: 3rem;
    line-height: 2;
}

.dialog-copy.character:before,
.dialog-copy.character:after{
    content: '\E244';
    opacity: 0.5;
    transform:rotate(-180deg);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
}

.dialog-copy.character:after{
    transform: none;
    line-height: 0;
}